<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .my_card_title {
            text-align: center;
            font-weight: 900;
            font-size: 20px;
        }
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
          text-align: center;
          padding: 2px;
        }
        td {
            padding-left: 3px;
          padding-right: 3px;
        }
    </style>
</head>
<body>
	<div style="width: 95%;">
    <div class="card-body">
      <h5 class="my_card_title">Timetable</h5>
      <h5 class="my_card_title">Class: 5018 Stream: ECE Class Faculty: Prof. Anjali Gautam</h5>
    </div>
</div>
<div class="container-fluid">

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:30 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:00 a.m. - 09:20 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:20 a.m. - 09:50 a.m.</th>
        
        <th>09:50 a.m. - 10:20 a.m.</th>
        
        <th>10:20 a.m. - 11:00 a.m.</th>
        
        <th>11:00 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:00 p.m.</th>
        
        <th>12:00 p.m. - 01:30 p.m.</th>
        
        <th>01:30 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:30 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Monday</td>
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>TOC</p>
                <p>Prof. S. Venkatesan</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>OS</p>
                <p>Prof. G C Nandi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>TOC</p>
                <p>Prof. S. Venkatesan</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>OS</p>
                <p>Prof. G C Nandi</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>OS</p>
                <p>Prof. G C Nandi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #4DC8B1">
            <div class="text-center">
                <p>IOT</p>
                <p>Prof. Savitri Joshi</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:30 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:00 a.m. - 09:20 a.m.</th>
        
        <th>09:20 a.m. - 09:50 a.m.</th>
        
        <th>09:50 a.m. - 10:20 a.m.</th>
        
        <th>10:20 a.m. - 11:00 a.m.</th>
        
        <th>11:00 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:00 p.m.</th>
        
        <th>12:00 p.m. - 01:30 p.m.</th>
        
        <th>01:30 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:30 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Tuesday</td>
        
        
        <td style="background-color: #4DC8B1">
            <div class="text-center">
                <p>IOT</p>
                <p>Prof. Savitri Joshi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #4DC8B1">
            <div class="text-center">
                <p>IOT</p>
                <p>Prof. Savitri Joshi</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>OS</p>
                <p>Prof. G C Nandi</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:30 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:00 a.m. - 09:20 a.m.</th>
        
        <th>09:20 a.m. - 09:50 a.m.</th>
        
        <th>09:50 a.m. - 10:20 a.m.</th>
        
        <th>10:20 a.m. - 11:00 a.m.</th>
        
        <th>11:00 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:00 p.m.</th>
        
        <th>12:00 p.m. - 01:30 p.m.</th>
        
        <th>01:30 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:30 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Wednesday</td>
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>CN</p>
                <p>Prof. Triloki Pant</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #82374A">
            <div class="text-center">
                <p>IML</p>
                <p>Prof. Anjali Gautam</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:30 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:00 a.m. - 09:20 a.m.</th>
        
        <th>09:20 a.m. - 09:50 a.m.</th>
        
        <th>09:50 a.m. - 10:20 a.m.</th>
        
        <th>10:20 a.m. - 11:00 a.m.</th>
        
        <th>11:00 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:00 p.m.</th>
        
        <th>12:00 p.m. - 01:30 p.m.</th>
        
        <th>01:30 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:30 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Thursday</td>
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>AI</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>CN</p>
                <p>Prof. Triloki Pant</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #4DC8B1">
            <div class="text-center">
                <p>IOT</p>
                <p>Prof. Savitri Joshi</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>LAL</p>
                <p>Prof. Vijay K. Chaurasiya</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:30 a.m.</th>
        
        <th>08:30 a.m. - 09:00 a.m.</th>
        
        <th>09:00 a.m. - 09:20 a.m.</th>
        
        <th>09:20 a.m. - 09:50 a.m.</th>
        
        <th>09:50 a.m. - 10:20 a.m.</th>
        
        <th>10:20 a.m. - 11:00 a.m.</th>
        
        <th>11:00 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:00 p.m.</th>
        
        <th>12:00 p.m. - 01:30 p.m.</th>
        
        <th>01:30 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:30 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Friday</td>
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>AI</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>DBMS</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #4DC8B1">
            <div class="text-center">
                <p>IOT</p>
                <p>Prof. Savitri Joshi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>AI</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>DSA</p>
                <p>Prof. Pavan Chakraborty</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>AI</p>
                <p>Prof. Bibhas Ghoshal</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>CN</p>
                <p>Prof. Triloki Pant</p>
            </div>
        </td>
        
        
    </tr>
</table>

</div>
</body>
</html>