<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .my_card_title {
            text-align: center;
            font-weight: 900;
            font-size: 20px;
        }
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
          text-align: center;
          padding: 2px;
        }
        td {
            padding-left: 3px;
          padding-right: 3px;
        }
    </style>
</head>
<body>
	<div style="width: 95%;">
    <div class="card-body">
      <h5 class="my_card_title">Timetable</h5>
      <h5 class="my_card_title">Class: OS Stream: IT Class Teacher: Bhibhas</h5>
    </div>
</div>
<div class="container-fluid">

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>09:00 a.m. - 09:30 a.m.</th>
        
        <th>09:30 a.m. - 09:45 a.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Monday</td>
        
        
        <td style="background-color: #DF8B1E">
            <div class="text-center">
                <p>LAL</p>
                <p>Bhibhas</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch
        </td>
        
        
    </tr>
</table>

</div>
</body>
</html>