{% extends "base/college.html" %}

{% block title %} Timetable Feedback {% endblock %}

{% block collegedetails %}
<a class="navbar-brand" href="{% url 'collegeview' randomid=thecollege.randomid %}"><img src="{{ thecollege.collegelogo.url }}" alt="{{ thecollege.collegename }}" height="50px"> | {{ thecollege.collegename }}</a>
{% endblock %}

{% block navigation %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'groupview' randomid=thecollege.randomid %}">Groups</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'subjectview' randomid=thecollege.randomid %}">Subjects</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'streamview' randomid=thecollege.randomid %}">Streams</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'teacherview' randomid=thecollege.randomid %}">Teachers</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'timetablesview' randomid=thecollege.randomid %}">Timetables</a>
</li>
{% endblock %}

{% block content %}

<div class="container">
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
        <h5 class="my_card_title">You must meet these requirements before generating a new timetable</h5>
        {% for one in results %}
        <p style="color:red;">{{ one.error }}</p>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}