{% extends "base/account.html" %}

{% block title %} Home {% endblock %}
{% block content %}
{% if colleges|length > 0 %}
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title my_card_title">Colleges</h5>
  </div>
</div>
{% for college in colleges %}
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">{{ college.collegename }}</h5>
    <a href="{% url 'collegeview' randomid=college.randomid %}" class="card-link">View College</a>
    <a href="{% url 'editcollege' randomid=college.randomid %}" class="card-link">Edit College</a>
    <a href="{% url 'deletecollege' randomid=college.randomid %}" class="card-link">Delete College (This is not reversible)</a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">Sorry, you have no colleges currently.</h5>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button class="btn mt-2 mx-2"  style="width: 95%;">
        <a href="{% url 'addcollege' %}">Add New College</a>
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn mt-2 mx-2"  style="width: 95%;">
        <a href="{% url 'collegedisplay' %}">View All Colleges</a>
      </button>
    </div>
  </div>
</div>
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">Account Information</h5>
    <a href="{% url 'editaccount' %}" class="card-link">Edit Account Information</a> |
    <a href="{% url 'changepassword' %}" class="card-link">Change Password</a> | 
    <a href="{% url 'deleteaccount' randomid=request.user.randomid %}" class="card-link">Delete Account (This is not reversible)</a>
  </div>
</div>
{% endblock %}